# Call Center Dashboard

Created by: Ricky Jay Gomez

## Import Libraries

In [1]:
import pandas as pd

## Load Dataset

In [3]:
data = pd.read_csv("call-center-dataset-raw.csv")

# check the data structure
data.info()

# check the size of the dataset
data.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105108 entries, 0 to 105107
Data columns (total 28 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Total_Wait_Time             105108 non-null  int64
 1   Calls_Offered               105108 non-null  int64
 2   Calls_Handled               105108 non-null  int64
 3   Talk_Time                   105108 non-null  int64
 4   Calls_within_Service_Level  105108 non-null  int64
 5   Calls_Abandoned             105108 non-null  int64
 6   Abandoned_Time              105108 non-null  int64
 7   Held_Calls                  105108 non-null  int64
 8   Hold_Time                   105108 non-null  int64
 9   Wrap_Time                   105108 non-null  int64
 10  i_acwtime                   105108 non-null  int64
 11  Outbound_Calls              105108 non-null  int64
 12  Outbound_Time               105108 non-null  int64
 13  Transferred_in_Calls        105108 non-null  int64
 14  Transferred_in_Time         105108 non-null  int64
 15  Transferred_in_Calls.1      105108 non-null  int64
 16  Conference                  105108 non-null  int64
 17  RedirectNoAns               105108 non-null  int64
 18  Longest_Wait1               105108 non-null  int64
 19  OutFlowCalls                105108 non-null  int64
 20  AccountAbr                  105108 non-null  object
 21  ActivityDate                105108 non-null  object
 22  Start_Time                  105108 non-null  object
 23  End_Time                    105108 non-null  object
 24  SkillCode                   105108 non-null  int64
 25  SkillDescription            105108 non-null  object
 26  LineOfBusiness              105108 non-null  object
 27  Interval__numeric_          105108 non-null  int64
dtypes: int64(22), object(6)
memory usage: 22.5+ MB

(105108, 28)

In [4]:
# check the data contents
data

,Total_Wait_Time,Calls_Offered,Calls_Handled,Talk_Time,Calls_within_Service_Level,Calls_Abandoned,Abandoned_Time,Held_Calls,Hold_Time,Wrap_Time,...,Longest_Wait1,OutFlowCalls,AccountAbr,ActivityDate,Start_Time,End_Time,SkillCode,SkillDescription,LineOfBusiness,Interval__numeric_
0,0,0,0,0,0,0,0,0,0,0,...,0,0,TelCo,2022-01-01,12:00AM,12:30AM,18,HMF,HM,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,TelCo,2022-01-01,1:00AM,1:30AM,18,HMF,HM,100
2,0,0,0,0,0,0,0,0,0,0,...,0,0,TelCo,2022-01-01,10:00AM,10:30AM,18,HMF,HM,1000
3,0,0,0,0,0,0,0,0,0,0,...,0,0,TelCo,2022-01-01,10:30AM,11:00AM,18,HMF,HM,1030
4,0,0,0,0,0,0,0,0,0,0,...,0,0,TelCo,2022-01-01,11:00AM,11:30AM,18,HMF,HM,1100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105103,12,1,1,153,1,0,0,0,0,0,...,12,0,TelCo,2022-12-31,7:30AM,8:00AM,91,HMT2,HM,730
105104,30,2,2,1094,2,0,0,1,4,26,...,16,0,TelCo,2022-12-31,8:00AM,8:30AM,91,HMT2,HM,800
105105,29,2,2,1072,2,0,0,1,137,117,...,17,0,TelCo,2022-12-31,8:30AM,9:00AM,91,HMT2,HM,830
105106,43,4,4,1906,4,0,0,1,1,219,...,13,0,TelCo,2022-12-31,9:00AM,9:30AM,91,HMT2,HM,900
105107,58,4,4,1578,4,0,0,1,154,225,...,23,0,TelCo,2022-12-31,9:30AM,10:00AM,91,HMT2,HM,930

## Metrics

In [12]:
# total calls offered
calls_offered_total = data.Calls_Offered.sum()
calls_offered_total

743299

In [13]:
# total calls handled
calls_handled_total = data.Calls_Handled.sum()
calls_handled_total

713764

In [14]:
# total calls abandoned
calls_abandoned_total = data.Calls_Abandoned.sum()
calls_abandoned_total

12892

In [15]:
# Avg. Speed of Answer (secs)
wait_time_total = data.Total_Wait_Time.sum()
SOA_avg = wait_time_total/calls_handled_total
SOA_avg

17.353216189104522

In [16]:
# Service Level

calls_service_level_total = data.Calls_within_Service_Level.sum()
calls_offered_noRONA_total = calls_offered_total - data.RedirectNoAns.sum()
service_level = calls_service_level_total/calls_offered_noRONA_total
service_level

0.9495682395621863

In [18]:
# Abandoment Rate
AR = calls_abandoned_total/calls_offered_total
AR

0.017344298862234445

In [31]:
# Average Handle Time (mins)
handle_time_total = data.Talk_Time.sum() + data.Hold_Time.sum() + data.Wrap_Time.sum()
handle_time_avg = (handle_time_total/calls_handled_total)/60
handle_time_avg

14.025799844206208

In [34]:
# Total Handle Time (mins)
talk_time_total = data.Talk_Time.sum()/60
talk_time_total

8573745.1

In [35]:
# Outbound Calls
OBC = data.Outbound_Calls.sum()
OBC

125311